#set(title=_res.get(title))
#@layout()
#define main()
<div class="container load-indicator loading" id="main-statistic">
    <div class="form-group">
        <label for="input-date-statistic"><h1>#(_res.get("date"))</h1></label>
        <input class="form-control form-date" id="input-date-statistic" readonly="" type="text" value="">
        <div class="help-block">#(_res.get("pickDateNotice"))</div>
    </div>

    <div class="datagrid datagrid-striped" id="datagrid-breakfast">
        <h1>#(_res.get("breakfast"))</h1>
        <div class="datagrid-container" id="datagrid-container-breakfast" style="text-align: center;"></div>
    </div>
    <div class="datagrid datagrid-striped" id="datagrid-lunch">
        <h1>#(_res.get("lunch"))</h1>
        <div class="datagrid-container" id="datagrid-container-lunch" style="text-align: center;"></div>
    </div>
    <div class="datagrid datagrid-striped" id="datagrid-dinner">
        <h1>#(_res.get("dinner"))</h1>
        <div class="datagrid-container" id="datagrid-container-dinner" style="text-align: center;"></div>
    </div>
    <div class="my-chart">
        <canvas id="chart-threeMeal"></canvas>
        <div class="chart-title" id="chart-title-threeMeal"></div>
    </div>
    <div class="my-chart">
        <canvas id="chart-threeEnergy"></canvas>
        <div class="chart-title" id="chart-title-threeEnergy"></div>
    </div>
    <div class="my-chart">
        <canvas id="chart-target"></canvas>
        <div class="chart-title" id="chart-title-target"></div>
    </div>
    <div class="my-chart">
        <canvas id="chart-target-calorie"></canvas>
        <div class="chart-title" id="chart-title-target-calorie"></div>
    </div>
</div>
<div style="width: 1px;height: 200px"></div>
#end

#define css()
<link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datetimepicker/datetimepicker.min.css"
      rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datagrid/zui.datagrid.min.css" rel="stylesheet"/>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datetimepicker/datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datagrid/zui.datagrid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/chart/zui.chart.min.js"></script>
#end

#define js()
<script src="/js/defaultChartConfig.js"></script>
<script src="/js/statistic-grid.js?#(_generateUuid())"></script>
<script src="/js/statistic-chart.js?#(_generateUuid())"></script>
<script src="/js/statistic-data.js?#(_generateUuid())"></script>
<script src="/js/statistic.js?#(_generateUuid())"></script>
#end