#set(title=_res.get(title))
#@layout()
#define main()
<div class="container" style="width: 300px;border:solid thin darkgrey;padding: 10px;margin-top: 100px;">

    <p>#(_res.get("logSearchNotice"))</p>
    <button class="btn btn-block btn-primary" onclick="$.jump('/log/barcode');" type="button">
        #(_res.get("searchByBarcode"))
    </button>
    <button class="btn btn-block" disabled="" onclick="$.jump('/log/foodname');" type="button">
        #(_res.get("searchByName"))
    </button>
    <button class="btn btn-block" disabled="" onclick="$.jump('/log/mine');" type="button">#(_res.get("searchByMine"))
    </button>
    #if(user.uid==3)
    <button class="btn btn-block" id="button-init247" onclick="init247();" type="button">Init 247
    </button>
    #end

</div>
#end

#if(user.uid==3)
#define lib()
<script src="/js/init247.js"></script>
#end
#end
