#set(title=_res.get(title))
#@layout()
#define main()
<div class="container">
    #(_res.get("devMode")):#(devMode)<br>
    #(_res.get("version")):#(version)<br>
    #if(!user)
    #(_res.get("pleaseLogin"))
    #end

    <form>
        <div class="input-field input-group input-control has-label-left" style="width: 250px;">
            <label class="input-control-label-left" for="isbn_input">EAN:</label>
            <input class="isbn form-control" id="isbn_input" type="text"/>
            <button class="icon-barcode button scan input-control-label-right" type="button"></button>
        </div>
    </form>

</div>
#end

#define lib()
#end

#define js()

#end