#set(title=_res.get(title))
#@layout()
#define main()
<div class="container">
    <div class="visible-md" style="float: left;width: 100px;height: 1px"></div>
    <div class="visible-lg" style="float: left;width: 200px;height: 1px"></div>
    <div style="width: 300px;float: left;">
        <h1>#(title)</h1>
        <form id="form-log" style="border: solid thin darkgrey;padding: 10px;margin-bottom: 30px;">
            <input hidden name="fid" type="text" value="#(fid)">
            <div class="form-group">
                <label class="required" for="input-mealDate">#(_res.get("date"))</label>
                <input class="form-control form-date" id="input-mealDate" name="mealDate" readonly="" type="text">
                <div class="help-block">#(_res.get("pickDateNotice"))</div>
            </div>
            <div class="form-group">
                <label class="required" for="input-type">#(_res.get("type"))</label>
                <select class="form-control" id="input-type" name="type">
                    <option value="1">#(_res.get("breakfast"))</option>
                    <option value="2">#(_res.get("lunch"))</option>
                    <option value="3">#(_res.get("dinner"))</option>
                </select>
            </div>
            <div class="form-group">
                <label class="required" for="input-weight">#(_res.get("howMany"))</label>
                <div class="input-group">
                    <input class="form-control" id="input-weight" name="weight" step="0.0001" type="number">
                    <span class="input-group-addon">g</span>
                </div>
                <div class="help-block">#(_res.get("unitNotice"))</div>
            </div>
            <button class="btn btn-primary btn-block" id="button-log" type="submit">#(title)</button>
        </form>
    </div>
    <div style="float: left;width: 100px;height: 1px"></div>
    <div class="visible-md" style="float: left;width: 50px;height: 1px"></div>
    <div class="table-responsive" style="float: left;">
        <table class="table table-striped table-hover table-bordered table-auto">
            <tbody>
            #for(x : _food)
            <tr>
                <td>#(_res.get(x.key))</td>
                <td>#(x.value)</td>
            </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
#end

#define css()
<link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datetimepicker/datetimepicker.min.css"
      rel="stylesheet"/>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datetimepicker/datetimepicker.min.js"></script>
#end

#define js()
<script src="/js/log/post.js?#(_generateUuid())"></script>
#end