#@layout()
#define main()
<div class="container" style="width: 325px;border:solid thin darkgrey;padding: 10px;margin-top: 100px;">
    <form id="form-login">
        <div class="form-group">
            <div class="input-control has-icon-left">
                <input class="form-control" id="username" name="username" placeholder='#(_res.get("username"))'
                       type="text">
                <label class="input-control-icon-left" for="username"><i class="icon icon-user "></i></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-control has-icon-left">
                <input class="form-control" id="password" name="password" placeholder='#(_res.get("password"))'
                       type="password">
                <label class="input-control-icon-left" for="password"><i class="icon icon-key"></i></label>
            </div>
        </div>
        #include("/view/common/recaptcha.html")
        <button class="btn btn-block btn-primary" id="login-button" type="submit" style="margin-top: 10px;">#(_res.get("login"))</button>
    </form>
</div>
#end

#define js()
<script src="/js/login.js?#(_generateUuid())"></script>
#end