#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="/skill">技能一览</a></li>
        #if(skill==null)
        <li class="active">技能不存在</li>
        #else
        <li class="active">#(skill.getName())</li>
        #end
    </ol>
    #if(skill==null)
    <div>技能不存在</div>
    #else
    <div class="center-parent"><h2>技能数据</h2></div>
    <div class="center-parent">
        <table class="table table-auto table-bordered table-hover">
            <tbody>
            <tr>
                <td><span class="hide">#(skill.getId())</span><img src="//#(skill.getIcon())" width="50px" class="img-rounded"></td>
                <td>#(skill.getName())</td>
            </tr>
            <tr>
                <td>技能描述</td>
                <td>#(skill.getDescription().replaceAll("\\n","<br>"))</td>
            </tr>
            <tr>
                <td>技能条件</td>
                <td>#(skill.getCondition())</td>
            </tr>
            <tr>
                <td>持续时间</td>
                <td>#(skill.getDuration())</td>
            </tr>
            <tr>
                <td>冷却时间</td>
                <td>#(skill.getCooldown())</td>
            </tr>
            <tr>
                <td>效果1</td>
                <td>#(skill.getType1()):#(skill.getValue1())</td>
            </tr>
            <tr>
                <td>效果2</td>
                <td>
                    #if(skill.getType2()!="0")
                    #(skill.getType2()):#(skill.getValue2())
                    #end
                </td>
            </tr>
            <tr>
                <td>效果3</td>
                <td>
                    #if(skill.getType3()!="0")
                    #(skill.getType3()):#(skill.getValue3())
                    #end
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="center-parent"><h2>拥有该技能的支援卡</h2></div>
    <div class="center-parent">
        <p>建设中...</p>
    </div>
    <hr>
    <div class="center-parent"><h2>拥有该技能的马</h2></div>
    <div class="center-parent">
        <p>建设中...</p>
    </div>
    #end
    #include("/view/comment/commentFrame.html",target1=0,target2=#(skill.getId()))
</div>
#end

#define css()
#end

#define lib()
#end

#define js()
#end