#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">技能一览</li>
    </ol>
    <table class="table datatable">
        <thead>
        <tr>
            <th class="flex-col" data-width="60"></th>
            <th class="flex-col" data-width="200">技能名称</th>
            <!--<th class="flex-col" data-width="100">技能描述</th>-->
            <!--<th class="flex-col" data-width="100">原始条件</th>-->
            <th class="flex-col" data-width="300">技能条件<a data-toggle="tooltip" data-placement="left" data-title="显示的为翻译后的条件，原始条件请点击i查看" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a></th>
            <th class="flex-col" data-width="100">持续时间<a data-toggle="tooltip" data-placement="left" data-title="显示的为推测后的换算单位，原始数据请点击i查看" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a></th>
            <th class="flex-col" data-width="100">冷却时间<a data-toggle="tooltip" data-placement="left" data-title="显示的为推测后的换算单位，原始数据请点击i查看" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a></th>
            <th class="flex-col" data-width="100">效果1<a data-toggle="tooltip" data-placement="left" data-title="显示的为推测后的换算单位，原始数据请点击i查看" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a></th>
            <th class="flex-col" data-width="100">效果2<a data-toggle="tooltip" data-placement="left" data-title="显示的为推测后的换算单位，原始数据请点击i查看" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a></th>
            <th class="flex-col" data-width="100">效果3<a data-toggle="tooltip" data-placement="left" data-title="显示的为推测后的换算单位，原始数据请点击i查看" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        #for(skill:skills)
        <tr>
            <td><span class="hide">#(skill.getId())</span><img src="//#(skill.getIcon())" width="30px" class="img-rounded"></td>
            <td>
                <a data-toggle="tooltip" data-placement="right" data-title="#(skill.description)" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a>
                <a href="/skill/detail/#(skill.getId())">#(skill.getName())</a></td>
            <!--<div>#(skill.getDescription().replaceAll("\\n","<br>"))</div>-->
            <!--<div>#(skill.getRawCondition())</div>-->
            <td><a data-toggle="tooltip" data-placement="left" data-title="#(skill.getRawCondition())" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a>#(skill.getCondition())</td>
            <td><a data-toggle="tooltip" data-placement="left" data-title="#(skill.getRawDuration())" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a>#(skill.getDuration())</td>
            <td><a data-toggle="tooltip" data-placement="left" data-title="#(skill.getRawCooldown())" data-trigger="focus hover click"><i class="icon icon-info-sign"></i></a>#(skill.getCooldown())</td>
            <td>#(skill.tooltip1)#(skill.effect1)</td>
            <td>#(skill.tooltip2)#(skill.effect2)</td>
            <td>#(skill.tooltip3)#(skill.effect3)</td>
        </tr>
        #end
        </tbody>
    </table>
</div>
#end

#define css()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datatable/zui.datatable.min.css"/>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datatable/zui.datatable.min.js"></script>
<script src="/js/datatable.js?#(_generateUuid())"></script>
#end

#define js()
<script src="/js/skill/skill.js?#(_generateUuid())"></script>
#end