#@layout()
#define main()
<div class="container">
    <table class="table datatable">
        <thead>
        <tr>
            <th class="flex-col" data-width="60"></th>
            <th class="flex-col" data-width="200">技能名称</th>
            <!--<th class="flex-col" data-width="100">技能描述</th>-->
            <!--<th class="flex-col" data-width="100">原始条件</th>-->
            <th class="flex-col" data-width="300">技能条件</th>
            <th class="flex-col" data-width="100">持续时间</th>
            <th class="flex-col" data-width="100">冷却时间</th>
            <th class="flex-col" data-width="100">效果1</th>
            <th class="flex-col" data-width="100">效果2</th>
            <th class="flex-col" data-width="100">效果3</th>
        </tr>
        </thead>
        <tbody>
        #for(skill:skills)
        <tr>
            <td><span style="display: none">#(skill.getId())</span><img src="//#(skill.getIcon())" width="30px"></td>
            <td>#(skill.getName())</td>
            <!--<div>#(skill.getDescription().replaceAll("\\n","<br>"))</div>-->
            <!--<div>#(skill.getRawCondition())</div>-->
            <td>#(skill.getCondition())</td>
            <td>#(skill.getDuration())</td>
            <td>#(skill.getCooldown())</td>
            <td>#(skill.getType1()):#(skill.getValue1())</td>
            #if(skill.getType2()!="0")
            <td>#(skill.getType2()):#(skill.getValue2())</td>
            #else
            <td></td>
            #end
            #if(skill.getType3()!="0")
            <td>#(skill.getType3()):#(skill.getValue3())</td>
            #else
            <td></td>
            #end
        </tr>
        #end
        </tbody>
    </table>
</div>
#end

#define css()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datatable/zui.datatable.min.css"/>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datatable/zui.datatable.min.js"></script>
#end

#define js()
<script src="/js/skill/skill.js?#(_generateUuid())"></script>
#end