#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">修改公告</li>
    </ol>
    <div style="margin-bottom: 20px;">
        <form id="form-announcement-add">
            <input class="hide" name="id" value="#(announcement.getId())">
            <div class="form-group">
                <label for="input-title">标题</label>
                <input type="text" class="form-control" id="input-title" name="title"
                       value="#(announcement.getTitle())">
            </div>
            <div class="form-group">
                <label for="input-priority">优先级</label>
                <input type="number" class="form-control" id="input-priority" name="priority"
                       value="#(announcement.getPriority())">
            </div>
            <div class="form-group">
                <label for="input-tag">Tag</label>
                <input type="text" class="form-control" id="input-tag" name="tag" value="#(announcement.getTag())">
            </div>
            <div class="form-group">
                <label for="input-tag-class">Tag类型</label>&nbsp;
                <select class="form-control" id="input-tag-class" name="label_class">
                    <option value="0">默认</option>
                    <option value="1">primary</option>
                    <option value="2">置顶</option>
                    <option value="3">info</option>
                    <option value="4">warning</option>
                    <option value="5">更新</option>
                </select>
            </div>
            <div style="margin-bottom: 20px;">
                <textarea class="form-control" rows="20" placeholder="正文" id="input-content" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="button-announce">发布</button>
        </form>
    </div>
</div>
#end

#define css()

#end

#define lib()
#end

#define js()
<script src="/js/announcement/modify.js?#(_generateUuid())"></script>
<script>
    document.getElementById("input-tag-class").selectedIndex = #(announcement.getLabelClass());
    let content = '#(announcement.getContent())';
    document.getElementById("input-content").value = content.replaceAll("<br>", "\r\n");
</script>
#end