#@layout()
#define main()
<div class="container">
    <div class="cards">
        #for(card:cards)
        <div class="col-md-4">
            <div class="card">
                <a class="card" href="/supportcard/detail/#(card.getId())">
                    <img src="//#(card.getIcon())" alt="">
                    <div class="card-heading"><strong>#(card.getName())</strong></div>
                </a>
            </div>
        </div>
        #end
    </div>
</div>
#end

#define css()

#end

#define lib()

#end

#define js()

#end