#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">支援卡一览</li>
    </ol>
    <div class="cards">
        #for(card:cards)
        <div class="col-md-2">
            <div class="card">
                <a class="card" href="/supportcard/detail/#(card.getId())">
                    <img src="//#(card.getIcon())" alt="">
                    <div class="card-heading"><strong>#(card.getRarity())</strong></div>
                    <div class="card-content text-muted">#(card.getPrefix())</div>
                </a>
            </div>
        </div>
        #end
    </div>
</div>
#end

#define css()
<style type="text/css">
    .card {
        margin-bottom: 0 !important;
    }
    .col-md-2{
        margin-bottom: 20px;
        height: 316px !important;
    }
</style>
#end

#define lib()

#end

#define js()

#end