#set(title=_res.get(title))
#@layout()
#define main()
<div class="container">
    <form id="form-upload" style="margin-bottom: 30px;">
        <div class="form-group">
            <label class="required" for="input-foodname">#(_res.get("foodname"))</label>
            <input class="form-control" id="input-foodname" name="foodname" placeholder="" type="text">
        </div>
        <div class="form-group">
            <label for="input-ean">#(_res.get("ean"))</label>
            <div class="input-group">
                <input class="form-control" id="input-ean" name="ean" type="text"/>
                <span class="input-group-addon"><i class="icon icon-barcode" id="button-scan"></i></span>
                <!--                <span class="input-group-btn"><button class="icon-barcode btn" type="button" id="button-scan"></button></span>-->
            </div>
            <div class="help-block">#(_res.get("barcodeScanNotice"))</div>
        </div>
        <div style="display: none;"><input id="uid" name="uploader" type="text" value="#(user.uid ?? -1)"></div>
        <hr>
        <div class="form-group">
            <label class="required" for="input-unit">#(_res.get("unit"))</label>
            <div class="input-group">
                <input class="form-control" id="input-unit" name="unit" step="0.0001" type="number">
                <span class="input-group-addon">g</span>
            </div>
            <div class="help-block">#(_res.get("unitNotice"))</div>
        </div>
        <div class="form-group">
            <label class="required" for="input-calorie">#(_res.get("calorie"))</label>
            <div class="input-group">
                <input class="form-control" id="input-calorie" name="calorie" step="0.0001" type="number">
                <span class="input-group-addon">kcal</span>
            </div>
        </div>
        <div class="form-group">
            <label class="required" for="input-protein">#(_res.get("protein"))</label>
            <div class="input-group">
                <input class="form-control" id="input-protein" name="protein" step="0.0001" type="number">
                <span class="input-group-addon">g</span>
            </div>
        </div>
        <div class="form-group">
            <label class="required" for="input-fat">#(_res.get("fat"))</label>
            <div class="input-group">
                <input class="form-control" id="input-fat" name="fat" step="0.0001" type="number">
                <span class="input-group-addon">g</span>
            </div>
        </div>
        <div class="form-group">
            <label class="required" for="input-carbohydrate">#(_res.get("carbohydrate"))</label>
            <div class="input-group">
                <input class="form-control" id="input-carbohydrate" name="carbohydrate" step="0.0001" type="number">
                <span class="input-group-addon">g</span>
            </div>
        </div>
        <div class="form-group">
            <label for="input-salt">#(_res.get("salt"))</label>
            <div class="input-group">
                <input class="form-control" id="input-salt" name="salt" step="0.0001" type="number">
                <span class="input-group-addon">g</span>
            </div>
        </div>
        <div class="form-group">
            <label for="input-sugar">#(_res.get("sugar"))</label>
            <div class="input-group">
                <input class="form-control" id="input-sugar" name="sugar" step="0.0001" type="number">
                <span class="input-group-addon">g</span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseOne">
                        #(_res.get("moreComposition"))
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="input-cholesterol">#(_res.get("cholesterol"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-cholesterol" name="cholesterol" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-calcium">#(_res.get("calcium"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-calcium" name="calcium" step="0.0001" type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-sodium">#(_res.get("sodium"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-sodium" name="sodium" step="0.0001" type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-potassium">#(_res.get("potassium"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-potassium" name="potassium" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-iron">#(_res.get("iron"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-iron" name="iron" step="0.0001" type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-magnesium">#(_res.get("magnesium"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-magnesium" name="magnesium" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-zinc">#(_res.get("zinc"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-zinc" name="zinc" step="0.0001" type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="input-vitaminA">#(_res.get("vitaminA"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminA" name="vitaminA" step="0.0001" type="number">
                            <span class="input-group-addon">μg(mcg)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminD">#(_res.get("vitaminD"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminD" name="vitaminD" step="0.0001" type="number">
                            <span class="input-group-addon">μg(mcg)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminE">#(_res.get("vitaminE"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminE" name="vitaminE" step="0.0001" type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminK">#(_res.get("vitaminK"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminK" name="vitaminK" step="0.0001" type="number">
                            <span class="input-group-addon">μg(mcg)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminB1">#(_res.get("vitaminB1"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminB1" name="vitaminB1" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminB2">#(_res.get("vitaminB2"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminB2" name="vitaminB2" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminB6">#(_res.get("vitaminB6"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminB6" name="vitaminB6" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminB12">#(_res.get("vitaminB12"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminB12" name="vitaminB12" step="0.0001"
                                   type="number">
                            <span class="input-group-addon">μg(mcg)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-vitaminC">#(_res.get("vitaminC"))</label>
                        <div class="input-group">
                            <input class="form-control" id="input-vitaminC" name="vitaminC" step="0.0001" type="number">
                            <span class="input-group-addon">mg</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-primary" id="button-upload" type="submit">#(_res.get("uploadFood"))</button>
    </form>

</div>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/1.0.0-beta.2/quagga.min.js"></script>
<script src="/js/upload/upload.js?#(_generateUuid())"></script>
#end