#@layout()
#define main()
<div class="container">
    <div>
        <h2>0.5.0以后</h2>
        <p>以后的更新内容将以公告形式发布。</p>
    </div>
    <div>
        <h2>0.5.0</h2>
        <p>1.公告系统接入数据库</p>
        <p>2.公告详情页开放浏览</p>
        <p>3.引入公告分页功能</p>
    </div>
    <div>
        <h2>0.4.2</h2>
        <p>1.修正了适性一览中距离适性的力量数值</p>
        <p>2.修正了适性一览中的排序效果</p>
    </div>
    <div>
        <h2>0.4.1</h2>
        <p>修正了适性一览的数据内容</p>
    </div>
    <div>
        <h2>0.4.0</h2>
        <p>1.添加了适性一览</p>
        <p>2.优化了移动端表格横向滚动的体验</p>
        <p>3.加入意见反馈功能（邮件实现）</p>
    </div>
    <div>
        <h2>0.3.1</h2>
        <p>暂无记录</p>
    </div>
    <div>
        <h2>0.3.0</h2>
        <p>暂无记录</p>
    </div>
    <div>
        <h2>0.2.0</h2>
        <p>暂无记录</p>
    </div>
    <div>
        <h2>0.1.0</h2>
        <p>暂无记录</p>
    </div>
</div>
#end