.bgc-0{
    /*background-color: #F8696B !important;*/
}
.bgc-1{
    background-color: #F8706C !important;
}
.bgc-2{
    background-color: #F8776D !important;
}
.bgc-3{
    background-color: #F97E6F !important;
}
.bgc-4{
    background-color: #F98570 !important;
}
.bgc-5{
    background-color: #F98D71 !important;
}
.bgc-7{
    background-color: #FA9B74 !important;
}
.bgc-8{
    background-color: #FBA276 !important;
}
.bgc-9{
    background-color: #FBAA77 !important;
}
.bgc-10{
    background-color: #FBB178 !important;
}
.bgc-11{
    background-color: #FCB87A !important;
}
.bgc-12{
    background-color: #FCBF7B !important;
}
.bgc-13{
    background-color: #FDC67D !important;
}
.bgc-14{
    background-color: #FDCE7E !important;
}
.bgc-15{
    background-color: #FDD57F !important;
}
.bgc-16{
    background-color: #FEDC81 !important;
}
.bgc-17{
    background-color: #FEE382 !important;
}
.bgc-18{
    background-color: #FFEB84 !important;
}
.bgc-19{
    background-color: #F7E984 !important;
}
.bgc-20{
    background-color: #EEE683 !important;
}
.bgc-21{
    background-color: #E5E483 !important;
}
.bgc-22{
    background-color: #DDE182 !important;
}
.bgc-23{
    background-color: #D4DF82 !important;
}
.bgc-24{
    background-color: #CCDD82 !important;
}
.bgc-25{
    background-color: #C3DA81 !important;
}
.bgc-26{
    background-color: #BAD780 !important;
}
.bgc-27{
    background-color: #B1D580 !important;
}
.bgc-28{
    background-color: #A9D27F !important;
}
.bgc-29{
    background-color: #A0D07F !important;
}
.bgc-30{
    background-color: #98CE7F !important;
}
.bgc-31{
    background-color: #8FCB71 !important;
}
.bgc-32{
    background-color: #86C97E !important;
}
.bgc-33{
    background-color: #7DC67D !important;
}
.bgc-34{
    background-color: #75C37C !important;
}
.bgc-35{
    background-color: #6CC17C !important;
}
.bgc-36{
    background-color: #63BE7B !important;
}