#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="/uma">马娘一览</a></li>
        #if(uma==null)
        <li class="active">马娘不存在</li>
        #else
        <li class="active">#(uma.getCardName())</li>
        #end
    </ol>
    #if(uma==null)
    <div>马娘不存在</div>
    #else
    <div class="center-parent"><h2>基础数据</h2></div>
    <div class="center-parent" style="margin: 20px 0;">
        <img src="//#(uma.getIcon())" class="img-rounded" width="100px">
        <span class="hide">#(uma.getId())</span>
    </div>
    <div class="center-parent">
        <table class="table table-auto table-bordered table-hover">
            <tbody>
            <tr>
                <td>卡名</td>
                <td>#(uma.getCardName())</td>
            </tr>
            <tr>
                <td>角色名</td>
                <td>#(uma.getUmaName())</td>
            </tr>
            <tr>
                <td>稀有度</td>
                <td>
                    #for(star = uma.getRarity(),i=0; i < 5; i++)
                    #if(star-->0)
                    <i class="icon icon-star"></i>
                    #else
                    <i class="icon icon-star-empty"></i>
                    #end
                    #end
                </td>
            </tr>
            <tr>
                <td>限定角色</td>
                <td>
                    #if(uma.getLimited()==0)
                    非限定角色
                    #else
                    限定角色
                    #end
                </td>
            </tr>
            <tr>
                <td>默认跑法</td>
                <td>#(uma.getRunningStyle())</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="center-parent"><h2>五维</h2></div>
    <div class="center-parent">
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>速度</td>
                <td>耐力</td>
                <td>力量</td>
                <td>根性</td>
                <td>智力</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>最大值</td>
                <td>#(uma.maxSpeed)</td>
                <td>#(uma.maxStamina)</td>
                <td>#(uma.maxPow)</td>
                <td>#(uma.maxGuts)</td>
                <td>#(uma.maxWiz)</td>
            </tr>
            <tr>
                <td>初始值</td>
                <td>#(uma.defaultSpeed)</td>
                <td>#(uma.defaultStamina)</td>
                <td>#(uma.defaultPow)</td>
                <td>#(uma.defaultGuts)</td>
                <td>#(uma.defaultWiz)</td>
            </tr>
            <tr>
                <td>训练加成</td>
                <td>#(uma.talentSpeed>0?uma.talentSpeed+"%":"")</td>
                <td>#(uma.talentStamina>0?uma.talentStamina+"%":"")</td>
                <td>#(uma.talentPow>0?uma.talentPow+"%":"")</td>
                <td>#(uma.talentGuts>0?uma.talentGuts+"%":"")</td>
                <td>#(uma.talentWiz>0?uma.talentWiz+"%":"")</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="center-parent"><h2>适性</h2></div>
    <div class="center-parent">
        <table class="table table-auto table-bordered table-hover">
            <tbody>
            <tr>
                <td>草地&nbsp;#(_formatProper(uma.getProperGroundTurf()))</td>
                <td>泥地&nbsp;#(_formatProper(uma.getProperGroundDirt()))</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>短距离&nbsp;#(_formatProper(uma.getProperDistanceShort()))</td>
                <td>英里&nbsp;#(_formatProper(uma.getProperDistanceMile()))</td>
                <td>中距离&nbsp;#(_formatProper(uma.getProperDistanceMiddle()))</td>
                <td>长距离&nbsp;#(_formatProper(uma.getProperDistanceLong()))</td>
            </tr>
            <tr>
                <td>逃&nbsp;#(_formatProper(uma.getProperRunningStyleNige()))</td>
                <td>先行&nbsp;#(_formatProper(uma.getProperRunningStyleSenko()))</td>
                <td>差&nbsp;#(_formatProper(uma.getProperRunningStyleSashi()))</td>
                <td>追&nbsp;#(_formatProper(uma.getProperRunningStyleOikomi()))</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="center-parent"><h2>技能组</h2></div>
    <div class="center-parent" style="margin-bottom: 50px;">
        #setLocal(skillSet=uma.getSkillSet())
        #if(null==skillSet)
        没有技能
        #else
        <table>
            #for(s:skillSet)
            #setLocal(skill=s.getSkill())

            <tr>
                <td><a href="/skill/detail/#(skill.getId())" target="_blank"><img src="//#(skill.getIcon())"
                                                                                  width="30px" class="img-rounded"></a>
                </td>
                <td><a href="/skill/detail/#(skill.getId())" target="_blank">#(skill.getName())</a></td>
                <td>Rank#(s.getRank()) 解锁</td>
            </tr>
            #else
            <tr>
                <td>没有技能</td>
            </tr>
            #end
        </table>
        #end
    </div>
    <hr>
    <div class="center-parent"><h2>觉醒材料</h2></div>
    <div class="center-parent">
        <table class="table datatable">
            <thead>
            <tr>
                <th class="flex-col" data-width="50">Rank</th>
                <th class="flex-col" data-width="100">材料1</th>
                <th class="flex-col" data-width="50">数量1</th>
                <th class="flex-col" data-width="100">材料2</th>
                <th class="flex-col" data-width="50">数量2</th>
                <th class="flex-col" data-width="100">材料3</th>
                <th class="flex-col" data-width="50">数量3</th>
                <th class="flex-col" data-width="100">材料4</th>
                <th class="flex-col" data-width="50">数量4</th>
                <th class="flex-col" data-width="100">材料5</th>
                <th class="flex-col" data-width="50">数量5</th>
                <th class="flex-col" data-width="100">材料6</th>
                <th class="flex-col" data-width="50">数量6</th>
            </tr>
            </thead>
            <tbody>
            #for(talentUpgrade:uma.getTalentUpgrade())
            <tr>
                <td>#(talentUpgrade.getTalentLevel())</td>
                #setLocal(count=6)
                #for(itemSet:talentUpgrade.getItems())
                <td>#(itemSet.getItem().getName())</td>
                <td>#(itemSet.getNum())</td>
                #setLocal(count--)
                #end
                #for(i=0;i<count;++i)
                <td></td>
                <td></td>
                #end
            </tr>
            #end
            </tbody>
        </table>
    </div>
    <hr>
    <div class="center-parent"><h2>其他</h2></div>
    <div class="center-parent">
        开发中...
    </div>
    <hr>
    #end
    #include("/view/comment/commentFrame.html",target1=6,target2=uma.getId())
</div>
#end

#define css()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datatable/zui.datatable.min.css"/>
<style type="text/css">
    td {
        border: 1px solid #ddd;
        padding: 4px 10px;
    }

    .table-datatable td, th {
        text-align: center;
    }
</style>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datatable/zui.datatable.min.js"></script>
<script src="/js/datatable.js?#(_generateUuid())"></script>
#end

#define js()
<script>
    init_datatable({sortable: false, fixedHeader: true});
</script>
#end