#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li class="active">管理后台</li>
    </ol>
    #(_res.get("devMode")):#(devMode)<br>
    #(_res.get("version")):#(version)<br>
    <p><a href="/announcement/add">发布公告</a>
    </p>
    <iframe src="/announcement/admin" frameborder="0" scrolling="no" id="iframe-announcement" width="100%"></iframe>
</div>
#end

#define lib()
#end

#define js()
<script type="text/javascript">
    function initIframe() {
        let iframe = document.getElementById("iframe-announcement");
        let bHeight = iframe.contentWindow.document.body.scrollHeight;
        let dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
        let height = Math.max(bHeight, dHeight);
        iframe.height = height;
    }
    window.setInterval("initIframe()", 200);
</script>
#end