<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse-example" data-toggle="collapse" type="button">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">马娘粉</a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-example">
            <ul class="nav navbar-nav">
                <li><a href="/skill">技能一览</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/supportcard">马娘 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/uma">马娘一览</a></li>
                        <li><a href="/uma/rank">马娘强度榜</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/supportcard">支援卡 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/supportcard">支援卡一览</a></li>
                        <li><a href="/supportcard/rank">支援卡强度榜</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/skill">技能 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/skill">技能一览</a></li>
                        <li><a href="/skill/search">技能搜索</a></li>
                    </ul>
                </li>
                <!--<li><a href="/version">版本</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                #if(user)
                <!-- <li><a href="/log">#(_res.get("foodLog"))</a></li>
                 <li><a href="/upload">#(_res.get("uploadFood"))</a></li>
                 <li><a href="/statistic">#(_res.get("statistic"))</a></li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                        #(user.username ?? "匿名用户") <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="/target">#(_res.get("targetValue"))</a></li>
                        <li><a href="/share/create">#(_res.get("share"))</a></li>
                        <li><a href="/upload/mine">#(_res.get("myUpload"))</a></li>
                        <li class="divider"></li>
                        <li><a href="/s">#(_res.get("shortUrl"))</a></li>
                        <li class="divider"></li>-->
                        <li><a href="/logout">#(_res.get("logout"))</a></li>
                    </ul>
                </li>
                #else
                <li><a href="/reg">注册</a></li>
                <li><a href="/login">登录</a></li>
                #end
                <!--<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">#(_res.get("changeLanguage")) <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:language('en_US');">#(_res.get("english"))</a></li>
                        <li><a href="javascript:language('zh_CN');">#(_res.get("simplifiedChinese"))</a></li>
                        <li><a href="javascript:language('ja_JP');">#(_res.get("japanese"))</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>