#define layout()
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>#(title??)</title>
    <link href="/css/common.css?#(_generateUuid())" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/css/zui.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/bootbox/bootbox.min.css" rel="stylesheet"/>
    #@css?()
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d5cea37c3d7f0100bc8d4a0295f058cf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "1",
            "bdMiniList": ["qzone", "weixin", "tsina", "sqq", "fbook","twi","copy"],
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "32"
        }, "slide": {"type": "slide", "bdImg": "3", "bdPos": "left", "bdTop": "100"}
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
</head>
<body>
#include("_header.html")
<div class="container main" id="main">
    #@main()
</div>
#include("_footer.html")
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/js/zui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/colorset.js/zui.colorset.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/bootbox/bootbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.20/index.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script src="/js/res.js?#(_generateUuid())" charset="UTF-8"></script>
<script src="/js/common.js?#(_generateUuid())"></script>
#@lib?()
<script src="/js/res-datepicker.js" charset="UTF-8"></script>
<script src="/js/header.js?#(_generateUuid())"></script>
#@js?()
</body>
</html>
#end