#@fujishiroLayout()
#define main()
<div class="container" id="container-form-kofuku">
    <form id="form-kofuku">
        #for(q:questions)
        <div>
            <h3>#(for.count).#(q)</h3>
            #set(name=for.count)
            #for(x:choices)
            <div class="radio"><label><input type="radio" name="#(name)" value="#(for.count)">#(x)</label></div>
            #end
        </div>
        #if(!for.last)
        <hr>
        #end
        #end
        <button class="btn btn-block btn-primary" id="button-kofuku" type="submit" style="margin-bottom: 20px;">提出</button>
    </form>
</div>

#end

#define js()
<script src="/js/kofuku.js?#(_generateUuid())"></script>
#end