#@fujishiroLayout()
#define main()
<div class="container" id="container-kofuku">
    <h1 id="title"></h1>
    <div class="my-chart">
        <div class="chart-title">ほとんどの面で、私の人生は私の理想に近い。</div>
        <canvas id="q1" width="400" height="400"></canvas>
        <div class="chart-title" id="average-q1"></div>
    </div>
    <div class="my-chart">
        <div class="chart-title">私の人生はとても素晴らしい状態だ。</div>
        <canvas id="q2" width="400" height="400"></canvas>
        <div class="chart-title" id="average-q2"></div>
    </div>
    <div class="my-chart">
        <div class="chart-title">私は自分の人生に満足している。</div>
        <canvas id="q3" width="400" height="400"></canvas>
        <div class="chart-title" id="average-q3"></div>
    </div>
    <div class="my-chart">
        <div class="chart-title">私はこれまで、自分の人生に求める大切なものを得てきた。</div>
        <canvas id="q4" width="400" height="400"></canvas>
        <div class="chart-title" id="average-q4"></div>
    </div>
    <div class="my-chart">
        <div class="chart-title">もう一度う人生をやり直せるとしても、ほとんど何も変えないだろう。</div>
        <canvas id="q5" width="400" height="400"></canvas>
        <div class="chart-title" id="average-q5"></div>
    </div>
    <div class="my-chart">
        <div class="chart-title" id="max"></div>
        <div class="chart-title" id="min"></div>
        <div class="chart-title" id="average"></div>
    </div>

    #end

    #define lib()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/chart/zui.chart.min.js"></script>
    #end

    #define js()
    <script src="/js/defaultChartConfig.js"></script>
    <script src="/js/kofuku-data.js?#(_generateUuid())"></script>
    #end