#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li class="active">主页</li>
    </ol>
    <p>您可以先访问&nbsp;<a href="/skill">技能一览</a>&nbsp;<a href="/uma">马娘一览</a>&nbsp;<a href="/supportcard">支援卡一览</a>&nbsp;<a href="/uma/relation">相性一览</a>
        &nbsp;<a href="/proper">适性修正效果</a>&nbsp;<a href="/comment/comment">*留言板*</a>
    </p>
    <p><a href="/statistic/factor">因子统计</a>&nbsp;<a href="/simulate">育成模拟</a></p>
    <iframe src="/announcement" frameborder="0" scrolling="no" id="iframe-announcement" width="100%"></iframe>
</div>
#end

#define lib()
#end

#define js()
<script type="text/javascript">
    function initIframe() {
        let iframe = document.getElementById("iframe-announcement");
        let bHeight = iframe.contentWindow.document.body.scrollHeight;
        let dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
        let height = Math.max(bHeight, dHeight);
        iframe.height = height;
    }
    window.setInterval("initIframe()", 200);
</script>
#end