#@layout()
#define main()
<div class="container">
    <ol class="breadcrumb">
        <li class="active">主页</li>
    </ol>
    #(_res.get("devMode")):#(devMode)<br>
    #(_res.get("version")):#(version)<br>
    <p>主页仍在建设中，您可以先访问&nbsp;<a href="/skill">技能一览</a>&nbsp;<a href="/supportcard">支援卡一览</a></p>
    <div class="list">
        <header>
            <h1>公告</h1>
        </header>
        <section class="items">
            <div class="items">
                <div class="item">
                    <div class="item-heading">
                        <div class="pull-right label label-success">置顶</div>
                        <h4><a href="#">攻略站开始公测</a></h4>
                    </div>
                    <div class="item-content">
                        <div class="text">2021年3月19日，马娘粉(ウマファン)攻略站开始公测，期间功能会逐步完善，欢迎大家加入页面下方QQ群反馈网站相关问题。</div>
                    </div>
                    <div class="item-footer">
                        <span class="text-muted">2021-03-19 12:31:27 JST</span>
                    </div>
                </div>
                <div class="item">
                    <div class="item-heading">
                        <h4><a href="#">支援卡详情页面仍在建设中</a></h4>
                    </div>
                    <div class="item-content">
                        <div class="text">目前支援卡详情页面还在建设阶段，技能详情页面已可以正常浏览，更多数据接入中。
                        </div>
                    </div>
                    <div class="item-footer">
                        <span class="text-muted">2021-03-19 18:49:37 JST</span>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <ul class="pager pager-justify">
                <li class="previous disabled"><a href="#"><i class="icon-arrow-left"></i> 没有上一页</a></li>
                <li class="next disabled"><a href="#">没有下一页 <i class="icon-arrow-right"></i></a></li>
            </ul>
        </footer>
    </div>


</div>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/1.0.0-beta.2/quagga.min.js"></script>
#end

#define js()
<script src="/js/EAN.js?#(_generateUuid())"></script>
#end